header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img{
    width: 258px;
    height: 168px;
  }
  nav{
    display: flex;
    justify-content: space-evenly;
    font-size: $m-font-size;
    width: 100%
  }
}