header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img{
    width: 258px;
    height: 168px;
  }
  nav{
    display: flex;
    justify-content: space-evenly;
    font-size: $m-font-size;
    width: 100%;
    a{
      transition: all .15s ease-in-out;
      &:visited{
        outline: solid 1px white;
      }
      &:hover{
        color: $gold;
      }
    }
  }
}