.login-screen, .register-screen{
    height: 768px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form, .register-form{
        background: $secure-grey;
        border: $secure-grey solid 1px;
        border-radius: 15px;
        width: 665px;
        height: 490px;
        display: flex;
        flex-direction: column;
        padding: 60px 30px;

        input[type=text], input[type=password]{
            border: none;
            border-bottom: #B3B3B3 solid 1px;
            background: $secure-grey;
            font-size: $s-font-size;
            height: 40px;
            margin-bottom: 30px;

            &::placeholder{
                text-transform: uppercase;
            }
        }
        .is-owner-section{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            label{
                text-transform: uppercase;
            }
            input[type=checkbox]{
                margin-left: 5px;
            }
        }
        a{
            margin-top: 60px;
            text-align: center;
        }
    }
}