.hamburger-menu-toggler{
  cursor: pointer;
  display: none;
  @media(max-width: $m-screen){
    display: block;
  }

  .hamburger-menu-bar{
    border-bottom: 4px solid black;
    width: 35px;
    margin-bottom: 6px;
    transition: all .25s;
  }

  // &:not(.collapsed){
  //   .hamburger-menu-bar:nth-child(1){
  //     transform: rotate(45deg)translateY(8px)translateX(6px);
  //   }
  //   .hamburger-menu-bar:nth-child(2){
  //     opacity: 0
  //   }
  //   .hamburger-menu-bar:nth-child(3){
  //     transform: rotate(-45deg)translateY(-8px)translateX(6px);
  //   }
  // }
}