@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
.gallery-carousel {
  animation: fade-in 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery-carousel .close {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  left: 72%;
  color: #1f0b0b;
  cursor: pointer;
  transition: color .15s ease-in-out;
}

.gallery-carousel .close:hover {
  color: #E1C997;
}

.gallery-carousel img {
  height: 468px;
  width: auto;
  margin: 0 auto;
}

.carousel-control-next, .carousel-control-prev {
  transition: all .25s ease-in;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: rgba(255, 255, 0, 0.1);
}

.app-layout {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 256px auto 60px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 258px;
  height: 168px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  width: 100%;
}

header nav a {
  transition: all .15s ease-in-out;
}

header nav a:visited {
  outline: solid 1px white;
}

header nav a:hover {
  color: #E1C997;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 1.75px;
}

.home-screen {
  animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 120px;
  height: 1500px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-screen section {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.home-screen section h1 {
  animation: fade-in 2s ease-in-out;
  font-size: 67px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-screen section .shifted-header-home {
  margin-left: 9%;
  margin-top: 30px;
}

.home-screen button {
  height: 90px;
  width: 350px;
  border-radius: 15px;
  border: 2px black solid;
  font-family: "Reem Kufi", sans-serif;
  font-size: 36px;
  color: black;
  background: #E1C997;
  transition: all .3s ease-in-out;
}

.home-screen button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px rgba(0, 0, 0, 0) solid;
  color: white;
  box-shadow: 5px 5px 5px 0px black;
}

.home-screen img {
  width: 100%;
  height: auto;
}

.about-screen {
  animation: fade-in 0.5s ease-in-out;
  padding: 0 120px;
  height: 1500px;
  position: relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-screen .about-floater {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 6.25%;
  box-sizing: border-box;
  height: 83%;
  width: 83%;
  margin: 0;
  z-index: 1;
}

.about-screen .about-floater .about-me {
  display: flex;
  justify-content: space-evenly;
}

.about-screen .about-floater .about-me img {
  height: 545px;
  border: 2px solid black;
}

.about-screen .about-floater .about-me p {
  box-sizing: border-box;
  width: 332px;
  padding: 30px 15px;
  font-size: 24px;
  line-height: 40px;
  background-color: white;
  border: 2px black solid;
}

.about-screen .about-floater .about-jamix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 677px;
}

.about-screen .about-floater .about-jamix h1 {
  font-size: 67px;
}

.about-screen .about-floater .about-jamix img {
  height: 324px;
  border: 2px solid black;
}

.about-screen .about-floater .about-jamix .about-jamix-p {
  box-sizing: border-box;
  border: 2px solid black;
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px;
}

.about-screen .about-floater .about-jamix .about-jamix-p p {
  line-height: 32px;
  font-size: 24px;
}

.about-screen .about-gold-bg {
  position: relative;
  top: 25%;
  background-color: rgba(225, 201, 151, 0.7);
  height: 635px;
  width: 100%;
}

.contact-screen {
  animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-screen img {
  width: 56px;
}

.services-screen {
  animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 115px 0 75px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.services-screen h1 {
  animation: fade-in 2s ease-in-out;
  font-size: 67px;
  letter-spacing: 2.5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.services-screen .services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.services-screen .services .service-card-container {
  width: 561px;
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-screen .services .service-card-container .service-card-color {
  width: 461px;
  height: 301px;
  background-color: rgba(225, 201, 151, 0.7);
  border: black solid 2px;
  box-sizing: border-box;
  transform: rotate(-23.6deg);
}

.services-screen .services .service-card-container .service-card-color .service-card {
  width: 458px;
  height: 301px;
  box-sizing: border-box;
  background-color: white;
  border: black solid 2px;
  transform: rotate(13.73deg);
}

.services-screen .services .service-card-container .service-card-color .service-card .service-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  box-sizing: border-box;
  height: 100%;
}

.services-screen .services .service-card-container .service-card-color .service-card .service-card-content h2 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-screen .services .service-card-container .service-card-color .service-card .service-card-content li {
  font-size: 24px;
  list-style-type: disc;
  margin: 15px 0;
}

.services-screen .events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-screen .events li {
  font-size: 36px;
  line-height: 67px;
  letter-spacing: 2px;
}

.plan {
  grid-column: 2/ span 3;
  grid-row: 2/ span 3;
}

.design {
  grid-column: 9/ span 3;
  grid-row: 3/span 3;
}

.decorate {
  grid-column: 5/ span 3;
  grid-row: 6/ span 3;
}

.gallery-screen {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery-screen .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 115px 0 75px 0;
}

.gallery-screen .gallery .photo {
  margin: 15px;
  height: 468px;
  width: 442px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

body {
  font-family: "Reem Kufi", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */