@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@import './variables';
@import './gallery-carousel';
@import './layout/layout', './layout/header', './layout/footer';
@import './screens/home', './screens/about', './screens/contact', './screens/services', './screens/gallery';

body{
  font-family: $primary-font;
}

a{
  text-decoration: none;
  color: black;
}
