.hamburger-menu-toggler{
  cursor: pointer;
  display: none;
  @media(max-width: $m-screen){
    display: block;
  }

  .hamburger-menu-bar{
    border-bottom: 4px solid black;
    width: 35px;
    margin-bottom: 6px;
    transition: all .25s;
  }
}