@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap");
.gallery-carousel {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gallery-carousel .close {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  left: 72%;
  color: black;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
@media (max-width: 412px) {
  .gallery-carousel .close {
    left: 85%;
  }
}
.gallery-carousel .close:hover {
  color: #E1C997;
}
.gallery-carousel img {
  height: 468px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .gallery-carousel img {
    height: 351px;
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .gallery-carousel img {
    height: 234px;
    max-width: 350px;
  }
}

.carousel-control-next, .carousel-control-prev {
  transition: all 0.25s ease-in;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: rgba(12, 12, 6, 0.1);
}

.big-btn {
  min-height: 90px;
  width: 350px;
  border-radius: 15px;
  border: 2px black solid;
  font-family: "Reem Kufi", sans-serif;
  font-size: 36px;
  color: black;
  background: #E1C997;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 15px 0px black;
}
.big-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(225, 201, 151, 0.7);
  border: 2px rgba(0, 0, 0, 0) solid;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 5px 5px 5px 0px black;
}
@media (max-width: 576px) {
  .big-btn {
    font-size: 36px;
  }
}
@media (max-width: 412px) {
  .big-btn {
    border-radius: 0px;
  }
}

.big-secure-btn {
  background: #E1C997;
  border-radius: 45px;
  border: #E1C997 solid 1px;
  font-size: 36px;
  height: 90px;
  margin-top: 15px;
  cursor: pointer;
}
.big-secure-btn:hover {
  background: rgba(225, 201, 151, 0.7);
  border: rgba(225, 201, 151, 0.7) solid 1px;
}
.big-secure-btn:disabled {
  background: rgba(225, 201, 151, 0.7);
  border: rgba(225, 201, 151, 0.7) solid 1px;
  color: rgba(0, 0, 0, 0.3);
}

.hamburger-menu-toggler {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .hamburger-menu-toggler {
    display: block;
  }
}
.hamburger-menu-toggler .hamburger-menu-bar {
  border-bottom: 4px solid black;
  width: 35px;
  margin-bottom: 6px;
  transition: all 0.25s;
}

.mobile-menu-user-btn {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu-user-btn {
    display: flex;
    align-items: center;
    border: black solid 2px;
  }
}
.mobile-menu-user-btn span {
  margin-right: 8px;
}
.mobile-menu-user-btn .down-arrow {
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  position: relative;
  top: -1px;
}

.menu-modal {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-modal img {
  width: 56px;
  align-self: flex-end;
  margin: 30px;
}
.menu-modal ul {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-modal ul li {
  font-size: 36px;
}

.app-layout {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 256px auto 60px;
}
@media (max-width: 576px) {
  .app-layout {
    grid-template-rows: 128px auto 60px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  header {
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  header {
    justify-content: space-between;
    margin: 0 45px 0 5px;
  }
}
header img {
  width: 258px;
  height: 168px;
  grid-column: 2;
}
@media (max-width: 768px) {
  header img {
    width: 174px;
    height: 117px;
    grid-column: 1;
  }
}
header .admin-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header .admin-greeting {
  display: flex;
  text-transform: uppercase;
  grid-column: 3;
  justify-content: flex-end;
  align-items: center;
}
header .admin-greeting span {
  margin-right: 5px;
}
@media (max-width: 768px) {
  header .admin-greeting {
    display: none;
  }
}
header nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  width: 100%;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav a {
  transition: all 0.15s ease-in-out;
}
header nav a:visited {
  outline: solid 1px white;
}
header nav a:hover {
  color: #E1C997;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 1.75px;
}
@media (max-width: 576px) {
  footer {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.home-screen {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 120px;
  height: 1500px;
  max-width: 1400px;
  margin: 0 auto;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .home-screen {
    padding: 0 60px;
  }
}
@media (max-width: 576px) {
  .home-screen {
    padding: 0px;
    height: 900px;
  }
}
.home-screen section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 992px) {
  .home-screen section {
    align-items: center;
  }
}
.home-screen section h1 {
  -webkit-animation: fade-in 2s ease-in-out;
          animation: fade-in 2s ease-in-out;
  font-size: 67px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .home-screen section h1 {
    font-size: 52px;
  }
}
@media (max-width: 576px) {
  .home-screen section h1 {
    font-size: 36px;
  }
}
.home-screen section .shifted-header-home {
  margin-left: 9%;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .home-screen section .shifted-header-home {
    margin: 0;
  }
}
.home-screen .subheader-home {
  -webkit-animation: fade-in 2s ease-in-out;
          animation: fade-in 2s ease-in-out;
  font-size: 36px;
  margin: 0 15px;
  text-align: center;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .home-screen .subheader-home {
    font-size: 24px;
  }
}
.home-screen img {
  width: 100%;
  height: auto;
}

.about-screen {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  padding: 0 120px;
  height: 1500px;
  position: relative;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .about-screen {
    padding: 0;
    height: auto;
  }
}
.about-screen .about-floater {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 6.25%;
  box-sizing: border-box;
  height: 83%;
  width: 83%;
  margin: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .about-screen .about-floater {
    width: 100%;
    height: auto;
    position: relative;
    top: initial;
    z-index: 0;
  }
}
.about-screen .about-floater .about-me {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .about-screen .about-floater .about-me {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1106px;
  }
}
@media (max-width: 412px) {
  .about-screen .about-floater .about-me {
    height: 1000px;
  }
}
.about-screen .about-floater .about-me img {
  height: 545px;
  border: 2px solid black;
}
@media (max-width: 992px) {
  .about-screen .about-floater .about-me img {
    width: 410px;
    border: none;
  }
}
@media (max-width: 576px) {
  .about-screen .about-floater .about-me img {
    width: 350px;
    height: 485px;
  }
}
.about-screen .about-floater .about-me p {
  height: 545px;
  box-sizing: border-box;
  width: 332px;
  padding: 30px 15px;
  font-size: 24px;
  line-height: 40px;
  background-color: white;
  border: 2px black solid;
  word-spacing: 10px;
}
@media (max-width: 992px) {
  .about-screen .about-floater .about-me p {
    border: none;
    width: 100%;
    height: auto;
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .about-screen .about-floater .about-me p {
    font-size: 18px;
  }
}
@media (max-width: 412px) {
  .about-screen .about-floater .about-me p {
    padding: 15px;
  }
}
.about-screen .about-floater .about-jamix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 677px;
}
@media (max-width: 992px) {
  .about-screen .about-floater .about-jamix {
    height: auto;
  }
}
.about-screen .about-floater .about-jamix h1 {
  -webkit-animation: fade-in 2s ease-in-out;
          animation: fade-in 2s ease-in-out;
  font-size: 52px;
  letter-spacing: 2.5px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .about-screen .about-floater .about-jamix h1 {
    font-size: 36px;
  }
}
.about-screen .about-floater .about-jamix img {
  height: 324px;
}
@media (max-width: 576px) {
  .about-screen .about-floater .about-jamix img {
    width: 350px;
    height: 246px;
  }
}
.about-screen .about-floater .about-jamix .about-jamix-ps {
  box-sizing: border-box;
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px;
}
@media (max-width: 992px) {
  .about-screen .about-floater .about-jamix .about-jamix-ps {
    height: auto;
  }
}
@media (max-width: 412px) {
  .about-screen .about-floater .about-jamix .about-jamix-ps {
    padding: 15px;
  }
}
.about-screen .about-floater .about-jamix .about-jamix-ps p {
  line-height: 40px;
  font-size: 24px;
  word-spacing: 10px;
}
@media (max-width: 576px) {
  .about-screen .about-floater .about-jamix .about-jamix-ps p {
    font-size: 18px;
  }
}
.about-screen .about-gold-bg {
  -webkit-animation: fade-in 2s ease-in-out;
          animation: fade-in 2s ease-in-out;
  position: relative;
  top: 25%;
  background-color: rgba(225, 201, 151, 0.7);
  height: 635px;
  width: 100%;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .about-screen .about-gold-bg {
    display: none;
  }
}

.corp {
  font-weight: 900;
  color: #E1C997;
  font-style: italic;
}

.contact-screen {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-screen img {
  width: 56px;
}

.services-screen {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  margin: 115px 0 75px 0;
  padding: 0 30px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1401px) {
  .services-screen {
    width: 1400px;
    margin: 115px auto 75px auto;
  }
}
@media (max-width: 1280px) {
  .services-screen {
    justify-content: center;
  }
}
.services-screen h1 {
  -webkit-animation: fade-in 2s ease-in-out;
          animation: fade-in 2s ease-in-out;
  font-size: 67px;
  letter-spacing: 2.5px;
  text-align: center;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  .services-screen h1 {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .services-screen h1 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .services-screen h1 {
    text-align: left;
  }
}
.services-screen .services-section {
  width: 100%;
  margin: 80px 0;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .services-screen .services-section {
    flex-direction: column;
    justify-content: center;
    height: 450px;
    margin: 0;
  }
}
.services-screen .services-section .service-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .services-screen .services-section .service-card-container {
    margin: 15px 0;
  }
}
.services-screen .services-section .service-card-container .service-card-color {
  width: 150px;
  height: 82px;
  background-color: rgba(225, 201, 151, 0.7);
  border: black solid 2px;
  box-sizing: border-box;
  transform: rotate(-23.6deg);
}
@media (max-width: 768px) {
  .services-screen .services-section .service-card-container .service-card-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    transform: rotate(0deg);
  }
}
.services-screen .services-section .service-card-container .service-card-color .service-card {
  width: 147px;
  height: 82px;
  box-sizing: border-box;
  background-color: white;
  border: black solid 2px;
  transform: rotate(13.73deg);
}
@media (max-width: 768px) {
  .services-screen .services-section .service-card-container .service-card-color .service-card {
    transform: rotate(0deg);
    width: 95%;
  }
}
.services-screen .services-section .service-card-container .service-card-color .service-card .service-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  box-sizing: border-box;
  height: 100%;
}
@media (max-width: 768px) {
  .services-screen .services-section .service-card-container .service-card-color .service-card .service-card-content {
    transform: rotate(0deg);
  }
}
.services-screen .services-section .service-card-container .service-card-color .service-card .service-card-content h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}
.services-screen .services-section .service-card-container .service-card-color .service-card .service-card-content ul {
  margin: 0;
}
.services-screen .services-section .service-card-container .service-card-color .service-card .service-card-content ul li {
  font-size: 24px;
  list-style-type: disc;
  margin: 15px 0;
}
.services-screen .services-about {
  font-size: 24px;
  margin-bottom: 75px;
}
@media (max-width: 576px) {
  .services-screen .services-about {
    font-size: 18px;
  }
}
.services-screen h2 {
  font-size: 52px;
}
.services-screen .packages {
  padding: 0;
}
.services-screen .packages .package-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin: 60px 0;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.services-screen .packages .package-card:hover, .services-screen .packages .package-card.open {
  background-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(225, 201, 151, 0.7);
  box-shadow: 5px 5px 5px 0px black;
}
.services-screen .packages .package-card.preview {
  box-shadow: inset 0px 0px 15px 5px rgb(11, 166, 11);
}
@media (max-width: 768px) {
  .services-screen .packages .package-card {
    margin: 15px 0;
  }
}
.services-screen .packages .package-card .package-header {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 4fr auto;
  height: 94px;
  padding-right: 45px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-header {
    grid-template-columns: 1fr 1fr auto;
    height: 45px;
    padding-right: 15px;
  }
}
@media (max-width: 576px) {
  .services-screen .packages .package-card .package-header {
    grid-template-columns: 2fr auto;
  }
}
.services-screen .packages .package-card .package-header h3, .services-screen .packages .package-card .package-header p {
  margin-bottom: 0;
}
.services-screen .packages .package-card .package-header h3 {
  font-size: 36px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-header h3 {
    font-size: 24px;
  }
}
.services-screen .packages .package-card .package-header p {
  font-size: 24px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-header p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .services-screen .packages .package-card .package-header p {
    display: none;
  }
}
.services-screen .packages .package-card .package-header .arrow {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(-45deg);
  height: 36px;
  width: 36px;
  position: relative;
  top: -5px;
}
.services-screen .packages .package-card .package-header .arrow.open {
  transform: rotate(135deg);
  top: 15px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-header .arrow.open {
    top: 5px;
  }
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-header .arrow {
    height: 18px;
    width: 18px;
  }
}
.services-screen .packages .package-card .package-description-container.close {
  display: none;
}
.services-screen .packages .package-card .package-description-container .package-description {
  font-size: 24px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-description-container .package-description {
    font-size: 18px;
    margin-top: 5px;
  }
}
.services-screen .packages .package-card .package-description-container .package-price {
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 768px) {
  .services-screen .packages .package-card .package-description-container .package-price {
    font-size: 18px;
  }
}

.gallery-screen {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gallery-screen .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 115px 0 75px 0;
}
.gallery-screen .gallery .photo {
  margin: 15px;
  height: 468px;
  width: 442px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
@media (max-width: 576px) {
  .gallery-screen .gallery .photo {
    max-width: 340px;
    margin: 15px 0;
  }
}

.login-screen, .register-screen {
  height: 768px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-screen .login-form, .login-screen .register-form, .register-screen .login-form, .register-screen .register-form {
  background: #F0F0F0;
  border: #F0F0F0 solid 1px;
  border-radius: 15px;
  width: 665px;
  height: 490px;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
}
.login-screen .login-form input[type=text], .login-screen .login-form input[type=password], .login-screen .register-form input[type=text], .login-screen .register-form input[type=password], .register-screen .login-form input[type=text], .register-screen .login-form input[type=password], .register-screen .register-form input[type=text], .register-screen .register-form input[type=password] {
  border: none;
  border-bottom: #B3B3B3 solid 1px;
  background: #F0F0F0;
  font-size: 18px;
  height: 40px;
  margin-bottom: 30px;
}
.login-screen .login-form input[type=text]::-moz-placeholder, .login-screen .login-form input[type=password]::-moz-placeholder, .login-screen .register-form input[type=text]::-moz-placeholder, .login-screen .register-form input[type=password]::-moz-placeholder, .register-screen .login-form input[type=text]::-moz-placeholder, .register-screen .login-form input[type=password]::-moz-placeholder, .register-screen .register-form input[type=text]::-moz-placeholder, .register-screen .register-form input[type=password]::-moz-placeholder {
  text-transform: uppercase;
}
.login-screen .login-form input[type=text]:-ms-input-placeholder, .login-screen .login-form input[type=password]:-ms-input-placeholder, .login-screen .register-form input[type=text]:-ms-input-placeholder, .login-screen .register-form input[type=password]:-ms-input-placeholder, .register-screen .login-form input[type=text]:-ms-input-placeholder, .register-screen .login-form input[type=password]:-ms-input-placeholder, .register-screen .register-form input[type=text]:-ms-input-placeholder, .register-screen .register-form input[type=password]:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-screen .login-form input[type=text]::placeholder, .login-screen .login-form input[type=password]::placeholder, .login-screen .register-form input[type=text]::placeholder, .login-screen .register-form input[type=password]::placeholder, .register-screen .login-form input[type=text]::placeholder, .register-screen .login-form input[type=password]::placeholder, .register-screen .register-form input[type=text]::placeholder, .register-screen .register-form input[type=password]::placeholder {
  text-transform: uppercase;
}
.login-screen .login-form .is-owner-section, .login-screen .register-form .is-owner-section, .register-screen .login-form .is-owner-section, .register-screen .register-form .is-owner-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.login-screen .login-form .is-owner-section label, .login-screen .register-form .is-owner-section label, .register-screen .login-form .is-owner-section label, .register-screen .register-form .is-owner-section label {
  text-transform: uppercase;
}
.login-screen .login-form .is-owner-section input[type=checkbox], .login-screen .register-form .is-owner-section input[type=checkbox], .register-screen .login-form .is-owner-section input[type=checkbox], .register-screen .register-form .is-owner-section input[type=checkbox] {
  margin-left: 5px;
}
.login-screen .login-form a, .login-screen .register-form a, .register-screen .login-form a, .register-screen .register-form a {
  margin-top: 60px;
  text-align: center;
}

.accounts-screen {
  height: 768px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
}
.accounts-screen h1 {
  margin: 30px 0;
}
.accounts-screen .accounts-form {
  height: 100%;
  width: 992px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  border: black solid 1px;
  margin-bottom: 30px;
}
.accounts-screen .account {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: #B3B3B3 solid 1px;
  padding: 10px 0;
}
.accounts-screen .account p {
  margin: 0;
}
.accounts-screen .account .account-email {
  font-size: 24px;
}
.accounts-screen .account .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accounts-screen .account .checkbox-container label {
  cursor: pointer;
}
.accounts-screen .account .checkbox-container input[type=checkbox] {
  margin-left: 7px;
  width: 18px;
  height: 18px;
}
.accounts-screen .account .account-date {
  margin-left: 5px;
  font-weight: 700;
}

body {
  font-family: "Reem Kufi", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */