.gallery-screen {
  @include fade-in-animation;
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 115px 0 75px 0;

    .photo {
      margin: 15px;
      height: 468px;
      width: 442px;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      @media(max-width: $s-screen){
        max-width: 340px;
        margin: 15px 0;
      }
    }
  }
}


