// @import "../../assets/about-joyce.jpg";

.home-screen {
  @include fade-in-animation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 120px;
  height: 1500px;

  section {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    h1 {
      @include fade-in-animation(2s);
      font-size: $xxl-font-size;
    }
    .shifted-header-home{
      margin-left: 9%;
      margin-top: 30px;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
