.services-screen {
  @include fade-in-animation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 115px 0 75px 0;

  h1 {
    font-size: $xxl-font-size;
    letter-spacing: 2.5px;
  }
  .services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr); 

    // NESTED STYLES APPLIED TO EACH CARD
    .service-card-container {
      width: 561px;
      height: 482px;
      display: flex;
      justify-content: center;
      align-items: center;

      .service-card-color {
        width: 461px;
        height: 301px;
        background-color: $goldish;
        border: black solid 2px;
        box-sizing: border-box;
        transform: rotate(-23.6deg);

        .service-card {
          width: 458px;
          height: 301px;
          box-sizing: border-box;
          background-color: white;
          border: black solid 2px;
          transform: rotate(13.73deg);

          .service-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: rotate(10deg);
            box-sizing: border-box;
            height: 100%;
            h2 {
              font-size: $xl-font-size;
              font-weight: 700;
              letter-spacing: 2px;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            li {
              font-size: $l-font-size;
              list-style-type: disc;
              margin: 15px 0;
            }
          }
        }
      }
    }
  }

  .events{
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
      font-size: $l-font-size;
      line-height: 67px;
      letter-spacing: 2px;
    }
  }
}

.plan{
  grid-column: 2/ span 3;
  grid-row: 2/ span 3;
}

.design{
  grid-column: 9/ span 3;
  grid-row: 3/span 3;
}

.decorate{
  grid-column: 5/ span 3;
  grid-row: 6/ span 3;
}