.services-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: green solid 2px;
  h1{
    font-size: $xxl-font-size;
    letter-spacing: 2.5px;
  }
  section{
    border: red solid 2px;
    width: 100%;

    // NESTED STYLES APPLIED TO EACH CARD 
    .service-card-container{
      width: 561px;
      height: 482px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    
      .service-card-color{
        width: 461px;
        height: 301px;
        background-color: $goldish;
        border: black solid 2px;
        box-sizing: border-box;
        transform: rotate(-23.6deg);
    
        .service-card{
          width: 458px;
          height: 301px;
          box-sizing: border-box;
          background-color: white;
          border: black solid 2px;
          transform: rotate(13.73deg);
    
          .service-card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: rotate(13.73deg);
            box-sizing: border-box;
            height: 100%;
            border: pink solid 2px;
            h2{
              font-size: $xl-font-size;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            li{
              font-size: $l-font-size;
              list-style-type: disc;
              margin: 15px 0;
            }
          }
        }
      }
    }
  }
}
